
/** IPAD */	

#super{
	display: none;
	}
	
#qLoverlay{display: none;}	



body{
	
	background-image: none;
	background: #eee;
	}

#mobileonly{
	width: 100%;
	height: 100%;
	display: block;
	visibility: visible;
	background: #eee;
	color: #000;
	text-align: center;
	margin: 20px 0;
	padding-top: 30px;
	}

body{background-image: none;
background-attachment: scroll;}

#super{
	position: relative;
	width: 100%;
	}		
	
#wrapper{
	position: absolute;
	width: 100%;
	max-width: 1600px;
	min-width: 1020px;
	top: 0;
	overflow: hidden;
	height: auto;
	}		
			
#eleven{
	display: none;
	visibility: hidden;
	}			

.page{
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	overflow: hidden;
	position: relative;
	top: 0;
	height: 1000px;
	margin: 0 auto;
	background: #fff;
	background-repeat: no-repeat;
	background-position: 50% 0;
	margin-top: 0px;
	-moz-box-shadow: 0 0 12px #666; 
	-webkit-box-shadow: 0 3px 8px #333;
	-o-box-shadow: 0 1px 5px #000;
	box-shadow: 0 1px 5px #000;
	}
	
	
#three, #six, #eight, #nine{
	height: auto;
	
	}
	
#three > .inner{
	height: 1000px;
	}	
	
#six > .inner{
	height: 870px;
	margin-top: 130px;
	}	
	
#eight > .inner{
	height: 900px;
	margin-top: 100px;
	}
	
#nine > .inner{
	margin-top: 385px;
	height: 615px;
	}

#overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1000;
	} 
	
.innerbg{
	position: absolute;
	width: 100%;
	max-width: 1600px;
	min-width: 1020px;
	height: 1000px;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: 50% top;
	background-attachment: scroll;
	display: block;
	}	
	
#seven .eameschair{
	position: absolute;
	top: 50px;
	left: 56%;
	}	
	
a.square {
    -moz-transition: background-color 0.2s ease 0s;
    height: 125px;
    position: absolute;
    right: 0;
    top: 435px;
    width: 125px;
    display: none;
}	

a.close-sub, a.close-all{display: none;}

.sub-container{
	position: relative;
	top: 0px;
	width: 100%;
	max-width: 1600px;
	min-width: 1020px;
	height: 1000px;
	left: 0px;
	overflow: hidden;

	z-index: 999;
}	
	
.sub-page{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	left: 0px;
	max-width: 1600px;
	min-width: 1020px;
	height: 1000px;
	background-repeat: no-repeat;
	background-position: 50% 0;
	}		
